{% extends "base.html" %}

{% block page_content %}
<h1>computers</h1>
<br></br>

<div class="row">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <h3 class="card-title">{{ project.title }}</h3>
                 {% if project.image %}
                <img class="card-img-top" src="{{ project.image.url }}">
            {% endif %}
                <p class="card-text">{{ project.description }}</p>
                 <a href="{% url 'detail' project.pk %}"><h3>{{ project.more}}</h3></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}